<%- include('_layout/_head', { 'title': 'Basis Styleguide' }) %>
<body class="l-body" data-sticky-footer="true">
<%- include('_parts/_ga') %>
<%- include('_object/_component/_page-effect') %>

<%- include('_object/_project/_drawer') %>

<div id="container" class="l-container" data-l="container">
  <%- include('_layout/_header') %>

  <div id="contents" class="l-contents" data-l="contents">
    <%- include('components') %>
  </div>

  <%- include('_layout/_footer') %>
</div>
<%- include('_layout/_foot') %>
</body>
</html>
