<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/railscasts.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="<%= root %>aigis_assets/css/style.min.css">
  <link rel="stylesheet" href="<%= root %>aigis_assets/css/theme.css">
  <link rel="stylesheet" href="<%= root %>aigis_assets/css/highlight/okadia.css">
  <!--[if lt IE 10]>
  <link rel="stylesheet" href="/aigis_assets/css/plugin/basis-ie9/basis-ie9.min.css" />
  <![endif]-->
  <link href="//fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
  <link rel="shortcut icon" href="<%= root %>/aigis_assets/images/favicon.ico">
</head>
